<div class="mx-auto max-w-3xl px-8 py-24 text-gray-900">
  <address-panel></address-panel>

  <ng-container *ngIf="historyEventsIds$ | async as historyEventsIds">
    <ng-container *ngIf="historyEvents$ | async as historyEvents">
      <spinner *ngIf="historyEventsIds.isLoading || historyEvents.isLoading" class="block mt-4"></spinner>

      <history-events *ngIf="historyEvents.value" [historyEvents]="historyEvents.value"></history-events>

      <p *ngIf="historyEventsIds.value?.length === 0">По адресу не найдено ни одного ID записи.</p>
      <p *ngIf="historyEvents.value?.length === 0">По ID записям не найдено ни одной справки.</p>
    </ng-container>
  </ng-container>
</div>
